[Unit]
Description=PixPrices server
After=network.target

[Service]
User=alan
WorkingDirectory=/home/alan/dev/pixprices
ExecStart=/bin/bash -c 'npm run start:prod'

[Install]
WantedBy=multi-user.target
